.navbar-brand {
  font-size: 22px;
  text-shadow: -1px -1px 0 rgb(63, 102, 149), 1px -1px 0 rgb(63, 102, 149),
    -1px 1px 0 rgb(63, 102, 149), 1px 1px 0 rgb(63, 102, 149);
}

body {
  background-color: rgb(242, 242, 242);
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
}

.card {
  border-radius: 10px;
}

.results > .card {
  transition: all 0.2s ease-in-out;
  /* transition: margin 0.2s ease-in-out; */
}

.results > .card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  /* margin-top: -30px; */
}

.abilities-lg {
  margin-left: 1.5em;
}

.detail-type {
  transform: scale(1.5);
  padding: 5px 25px;
  margin-right: 5em;
}

.stats {
  width: 99%;
  margin-left: 0.1em;
  border-radius: 5px;
  padding: 15px;
}
