{% extends "base.html" %}
{% block title %}404: Page Not Found{% endblock %}
{% block content %}

<div class="container text-center">
    <h1>404: Page Not Found</h1>
    <p>What you were looking for is just not there.</p>
        <div>    
            <a href="/" class="btn btn-info text-light mb-4" role="button">go somewhere nice</a>
        </div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/firered-leafgreen/shiny/143.png" alt="sleeping snorlax sprite" style="transform:scale(5);margin-top:120px;"/>
</div>

{% endblock %}