<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="static/stylesheets/app.css">
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Pokédex</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Archive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if session['username'] %}
                <li class="nav-item">
                    <a class="nav-link active" href="/user"> Hello, {{ g.user.username }}!</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-link text-light mt-1 mx-2" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-link text-light" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light btn-sm" href="/register">Sign Up</a>
                </li>
                {% endif %}
            <form class="d-flex">
                <input class="form-control me-sm-2 mt-2" type="text" placeholder="Search" style="height:2em;">
                <button class="btn btn-secondary mt-2 search-btn" type="submit">Go!</button>
            </form>
        </div>
        </div>
    </nav>
    
    <div class="container mt-4">
        <!-- alert when user/post has been added/deleted/info edited -->
        {% for category, msg in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{category}}" role="alert">{{msg}}</div>
        {% endfor %}
        <!-- end alert -->
        <div>{% block content %}BODY CONTENT GOES HERE{% endblock %}</div>
    </div>

</body>
</html>