{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="row full-width">
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="text-center">
            <img src="{{ g.user.profile_img_url }}" alt="avatar" style="height:10em;border-radius:25em;object-fit:cover;">
            <h4 id="sidebar-username" class="mt-1">@{{ g.user.username }}</h4>
            <p class="user-location"><span class="fa fa-map-marker"></span>{% if g.user.location %} {{ g.user.location }}{% else %} somewhere{% endif %}</p>
            <a href="/user/edit" class="btn btn-outline-secondary btn-sm mt-2">Edit Profile</a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-7 col-md-8 mt-4">
        {% block user_deets %}
        {% endblock %}
    </div>
        
</div>

{% endblock %}